body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mid: 17px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-darkslategray: #005339;

  /* Gaps */
  --gap-11xs: 2px;

  /* Paddings */
  --padding-27xl: 46px;
}