.screen1-child {
  width: 185.5px;
  height: 26.31%;
  position: absolute;
  margin: 0 !important;
  top: 60.63%;
  bottom: 13.06%;
  left: calc(50% - 120px);
  max-height: 100%;
  z-index: 0;
}
.tukar-duit-syiling1 {
  margin: 0;
  height: 160px;
  width: 358px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.screen1-title11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.screen1-inner {
  width: 450px;
  height: 29.19%;
  margin: 0 !important;
  position: absolute;
  top: 22.65%;
  bottom: 48.16%;
  left: calc(50% - 225px);
  max-height: 100%;
  z-index: 2;
}
.dengan-manusia {
  margin: 0;
}
.inilah-yang-berlaku-container1 {
  margin: 0;
  width: 310px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 29px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.inilah-yang-berlaku-apabila-an-wrapper {
  align-self: stretch;
  height: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.setiap-10-atau-container1 {
  width: 265px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
}
.benefit-one {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.group-icon {
  height: 48.26%;
  width: 124.3px;
  position: absolute;
  margin: 0 !important;
  top: 39.57%;
  bottom: 12.17%;
  left: calc(50% - 62px);
  max-height: 100%;
  z-index: 0;
}
.ada-2-minit1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 23px;
  font-weight: 500;
}
.benefit-two-time,
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.benefit-two-time {
  z-index: 1;
}
.group-parent {
  height: 23px;
  padding: 0 var(--padding-3xs) 0 var(--padding-10xs);
  box-sizing: border-box;
  position: relative;
}
.lihat-fakta-menarik-container1 {
  width: 156px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-2xl);
  font-weight: 500;
  display: inline-block;
}
.benefit-two,
.screen1-description1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.benefit-two {
  width: 179px;
  height: 88px;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.screen1-description1 {
  align-self: stretch;
  height: 278px;
  align-items: flex-end;
  gap: var(--gap-79xl);
  font-size: var(--font-size-mid);
}
.screen1-title21,
.screen11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.screen1-title21 {
  width: 358px;
  height: 438.8px;
  margin: 0 !important;
  position: absolute;
  top: 519px;
  left: calc(50% - 179px);
  justify-content: center;
  gap: var(--gap-57xl);
  z-index: 3;
  font-size: var(--font-size-6xl);
}
.screen11 {
  align-self: stretch;
  height: 997.8px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-27xl) var(--padding-27xl) var(--padding-21xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-294xl);
  background-image: url(./public/screen1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.lines-icon {
  width: 347.3px;
  height: 77.54%;
  position: absolute;
  margin: 0 !important;
  top: 18.66%;
  bottom: 3.8%;
  left: calc(50% - 168px);
  max-height: 100%;
  z-index: 0;
}
.orangutan-berkongsi-97-container,
.tahukah-anda2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 23px;
}
.orangutan-berkongsi-97-container {
  margin: 0;
  height: 120px;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.01em;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-darkslategray);
  display: inline-block;
  min-width: 358px;
}
.screen2-title1 {
  align-self: stretch;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  z-index: 1;
  color: var(--color-forestgreen);
}
.group-icon5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hutan-hujan-ini1 {
  margin: 0;
  font-weight: 500;
}
.menyerap-dan-menyimpan1 {
  margin: 0;
  font-weight: 800;
}
.hutan-hujan-ini-container1 {
  position: absolute;
  width: 75.22%;
  top: 65.03%;
  left: 10.65%;
  line-height: 14px;
  display: inline-block;
  transform: rotate(6deg);
  transform-origin: 0 0;
}
.image {
  width: 51.2%;
  height: 24.27%;
  position: absolute;
  margin: 0 !important;
  top: 42.78%;
  right: 25.78%;
  bottom: 32.95%;
  left: 23.02%;
  z-index: 2;
  font-size: var(--font-size-2xs);
}
.membantu-memelihara1 {
  font-weight: 500;
}
.hutan-hujan1 {
  font-weight: 800;
  font-family: var(--font-inter);
}
.dengan-mengekalkannya-kita-container,
.mereka-ibarat-keluarga-container1 {
  width: 307px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
}
.dengan-mengekalkannya-kita-container {
  width: 290px;
}
.screen2-description1 {
  width: 358px;
  height: 766.6px;
  margin: 0 !important;
  position: absolute;
  top: 256px;
  left: calc(50% - 179px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-361xl);
  z-index: 3;
}
.malaysia-telah-kehilangan-container1,
.screen21 {
  align-self: stretch;
  position: relative;
  color: var(--color-darkslategray);
}
.screen21 {
  height: 1082.6px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-27xl);
  box-sizing: border-box;
  gap: var(--gap-32xl);
  background-image: url(./public/screen2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
}
.malaysia-telah-kehilangan-container1 {
  margin: 0;
  height: 240px;
  font-size: var(--font-size-16xl);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.screen3-title1 {
  align-self: stretch;
  height: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  z-index: 0;
  color: var(--color-forestgreen);
}
.lumba-lumba-irrawaddy-yang1 {
  font-weight: 800;
}
.bakau-di-belawai-container1 {
  position: absolute;
  width: 76.21%;
  top: 69.92%;
  left: 9.97%;
  line-height: 14px;
  display: inline-block;
  transform: rotate(6deg);
  transform-origin: 0 0;
}
.group2,
.screen3-item {
  position: absolute;
  margin: 0 !important;
}
.group2 {
  width: 50.53%;
  height: 21.04%;
  top: 47.39%;
  right: 25.51%;
  bottom: 31.57%;
  left: 23.96%;
  z-index: 1;
  font-size: var(--font-size-2xs);
}
.screen3-item {
  width: 343.5px;
  height: 69.13%;
  top: 27.45%;
  bottom: 3.42%;
  left: calc(50% - 163px);
  max-height: 100%;
  z-index: 2;
}
.co1 {
  font-family: var(--font-inter);
}
.dana-anda-menyokong-container1 {
  width: 275px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
}
.span3 {
  font-weight: 500;
  font-family: var(--font-inter);
}
.dengan-memelihara-bakau-container1 {
  width: 285px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
}
.screen3-description1,
.screen31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.screen3-description1 {
  width: 358px;
  height: 634px;
  margin: 0 !important;
  position: absolute;
  top: 372px;
  left: calc(50% - 179px);
  gap: var(--gap-329xl);
  z-index: 3;
}
.screen31 {
  align-self: stretch;
  height: 1164.4px;
  padding: var(--padding-41xl) var(--padding-27xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-29xl);
  background-image: url(./public/screen3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.dan-itu-bukan-container1 {
  margin: 0;
  align-self: stretch;
  height: 200px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.sanctuary-hidupan-liar1 {
  font-weight: 800;
  font-family: var(--font-grab-community-solid-en);
}
.green-programme-menyokong-container1 {
  width: 315px;
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.01em;
  line-height: 23px;
  display: inline-block;
}
.screen4-description1,
.screen4tophalf1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.screen4-description1 {
  height: 327px;
  gap: var(--gap-xs);
}
.screen4tophalf1 {
  height: 395.1px;
  padding: var(--padding-27xl) var(--padding-27xl) 0;
  box-sizing: border-box;
  background-image: url(./public/screen4tophalf@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray);
  font-family: var(--font-grab-community-solid-en);
}
.kuiz-pantas1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
}
.sejak-2021-pengguna-container1 {
  width: 332px;
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.01em;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
}
.screen5-title1 {
  align-self: stretch;
  height: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 0;
}
.juta-pokok1 {
  position: absolute;
  top: 76.33%;
  left: 9.24%;
  line-height: 14px;
  font-weight: 800;
  transform: rotate(6deg);
  transform-origin: 0 0;
}
.group3,
.screen4bottomhalf-item {
  position: absolute;
  margin: 0 !important;
}
.group3 {
  width: 50.89%;
  height: 26.81%;
  top: 37.4%;
  right: 25.49%;
  bottom: 35.79%;
  left: 23.62%;
  z-index: 1;
  font-size: var(--font-size-2xl);
  color: var(--color-darkslategray);
}
.screen4bottomhalf-item {
  width: 301px;
  height: 75.95%;
  top: 19.22%;
  bottom: 4.82%;
  left: calc(50% - 122px);
  max-height: 100%;
  z-index: 2;
}
.boleh-teka-berapa-container1,
.menunjukkan-bagaimana-perubaha-container1 {
  width: 288px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 23px;
  font-weight: 800;
  display: inline-block;
}
.menunjukkan-bagaimana-perubaha-container1 {
  width: 321px;
  font-weight: 500;
}
.screen5-description1 {
  width: 358px;
  height: 470px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: calc(50% - 179px);
  gap: var(--gap-313xl);
  z-index: 3;
  font-size: var(--font-size-mid);
}
.grab-my-bm1,
.screen4bottomhalf1,
.screen5-description1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.screen4bottomhalf1 {
  align-self: stretch;
  height: 854.1px;
  padding: var(--padding-21xl) var(--padding-27xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-50xl);
  background-image: url(./public/screen4bottomhalf@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-grab-community-solid-en);
}
.grab-my-bm1 {
  width: 450px;
  max-width: 800px;
  min-width: 360px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 384px) {
  .screen31 {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 373px) {
  .screen4tophalf1 {
    padding-top: var(--padding-11xl);
    box-sizing: border-box;
  }
}
